{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
        {% block title %}
            TaskFlow
        {% endblock %}
    </title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    <main class="page-wrapper">

        {% if messages %}
            <div class="messages-container">
                {% for message in messages %}
                    <div class="message message-{{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        {% block content %}
        {% endblock %}

    </main>
</body>
</html>

<script>
    const messages = document.querySelectorAll(".message");

    messages.forEach((message) => {
        setTimeout(() => {
            message.style.transition = "opacity 0.5s ease";
            message.style.opacity = "0";

            setTimeout(() => {
                message.remove();
            }, 500);
        }, 4000);
    });
</script>

