<aside class="sidebar">

    <a href="{% url 'dashboard' %}" class="sidebar-brand">
        <span class="brand-mark sidebar-logo">T</span>
        <span>TaskFlow</span>
    </a>

    <nav class="sidebar-nav">

        <a href="{% url 'dashboard' %}" 
           class="nav-item {% if request.resolver_match.url_name == 'dashboard' %}active{% endif %}">
            <span class="nav-icon">⌂</span>
            Dashboard
        </a>

        <a href="{% url 'project-list' %}" 
           class="nav-item {% if request.resolver_match.url_name == 'project-list' %}active{% endif %}">
            <span class="nav-icon">▣</span>
            My Projects
        </a>

        <a href="{% url 'task-list' %}" 
           class="nav-item {% if request.resolver_match.url_name == 'task-list' %}active{% endif %}">
            <span class="nav-icon">✓</span>
            My Tasks
        </a>

        <a href="{% url 'notification-list' %}" 
        class="nav-item {% if request.resolver_match.url_name == 'notification-list' %}active{% endif %}">
            <span class="nav-icon">◌</span>
            Notifications
            {% if unread_notifications_count > 0 %}
                <span class="sidebar-badge">{{ unread_notifications_count }}</span>
            {% endif %}
        </a>


    </nav>

    <div class="sidebar-bottom">

        <div class="user-mini-profile">
            <div class="user-avatar">
                {{ request.user.username|first|upper }}
            </div>

            <div class="user-mini-info">
                <strong>{{ request.user.username }}</strong>
                <span>{{ request.user.email }}</span>
            </div>
        </div>

        <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}

            <button type="submit" class="logout-button">
                <span>↪</span>
                Log out
            </button>
        </form>

    </div>

</aside>
