{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/projects.css' %}">
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% endblock %}

{% block title %}
    My Projects | TaskFlow
{% endblock %}

{% block content %}

<div class="app-layout">
    {% include "includes/sidebar.html" %}

    <main class="dashboard-main">

        <header class="dashboard-header">
            <div>
                <p class="eyebrow">PROJECT WORKSPACE</p>
                <h1>My projects</h1>

                <p class="dashboard-subtitle">
                    Organize your personal work and collaborate with your team.
                </p>
            </div>

            <a
                href="{% url 'project-create' %}"
                class="primary-button create-task-button"
            >
                <span>+</span>
                Create project
            </a>
        </header>

        {% if projects %}
            <section class="projects-grid">

                {% for project in projects %}
                    <article class="project-card">

                        <div class="project-card-header">
                            <div class="project-icon large-project-icon">
                                {{ project.title|first|upper }}
                            </div>

                            {% if project.owner == request.user %}
                                <span class="project-role owner-role">
                                    Owner
                                </span>
                            {%else %}
                                <span class="project-role member-role">
                                    Member
                                </span>
                            {% endif %}
                        </div>

                        <h2>{{ project.title }}</h2>

                        <p class="project-description">
                            {{ project.description|default:"No description has been added yet."|truncatechars:130 }}
                        </p>

                        <div class="project-card-footer">
                            <span>
                                Created {{ project.created_at|date:"M d, Y" }}
                            </span>

                            <a href="{% url 'project-detail' project.id %}" class="secondary-button-sm">
                                Open project →
                            </a>
                        </div>

                    </article>
                {% endfor %}

            </section>

        {% else %}
            <section class="projects-empty-page">
                <div class="empty-icon">▣</div>

                <h2>No projects yet</h2>

                <p>
                    Create your first project to organize tasks,
                    deadlines, and team collaboration.
                </p>

                <a
                    href="{% url 'project-create' %}"
                    class="primary-button"
                >
                    Create your first project
                </a>
            </section>
        {% endif %}

    </main>

</div>

{% endblock %}
